body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(78, 190, 255);
}

#card-container {
    border: 3px solid white;
    box-shadow: 0px 0px 5px black;
    border-radius: 24px;
    padding: 0px;
    text-align: center;
    width: 300px;
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 6px;
}

#card-title {
    font-family: cursive;
    color: white;
    height: 3em;
    margin: 0;
}

#new-mission-button {
    border: 3px solid white;
    box-shadow: 0px 0px 5px black;
    border-radius: 24px;
    padding: 3px 12px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: cursive;
    margin: 0;
}